<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dubsiren.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
				<key>dateExpires</key>
				<string>26/03/2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SpotifyiOS.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.0.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavcodec.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.0.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavformat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.0.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavutil.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.0.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2356F65511F0729CE9656641B5EADBE3AFB4383F</string>
						<key>dateExpires</key>
						<string>26/03/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswresample.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JD2R9CV986</string>
						<key>name</key>
						<string>EDUARDO DONATO D'ANGELO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JD2R9CV986.com.anonymous.dub-siren</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JD2R9CV986</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>dubsiren.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>35e36160-4e1b-4c08-8bfc-fb1b176a7439</string>
				<key>dateExpires</key>
				<string>26/03/2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.anonymous.dub-siren</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JD2R9CV986</string>
				<key>name</key>
				<string>EDUARDO DONATO D'ANGELO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
